.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
/.vs/slnx.sqlite
/.vs/github-minesweeper-Badbot26/FileContentIndex/e0f9b490-a971-4959-b44f-6bcfc6aa3b74.vsidx
/.gitignore
/.vs/github-minesweeper-Badbot26/FileContentIndex/96d14727-978b-46a4-92a2-b8fd37d94ce2.vsidx
/.vs/github-minesweeper-Badbot26/FileContentIndex/4bc63314-dfc3-4d3b-8c69-f71078307dcf.vsidx
/.vs/github-minesweeper-Badbot26/v17/.wsuo
/.vs/github-minesweeper-Badbot26/FileContentIndex/22b56146-13e3-447b-9f19-be374a708e16.vsidx
*.vsidx
/.vs/github-minesweeper-Badbot26/v17/.wsuo
